.main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.hero-img {
  display: flex;
  max-height: calc(95vh);
  transition: all 1.5s ease;
}
.hero-img svg {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.content {
  display: none;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore {
  width: 25%;
  padding: 1em 3em;
  min-width: 200px;
}
.explore svg {
  max-width: 100%;
  display: block;
  height: auto;
}
.cards-container {
  min-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.cards-container figure img {
  max-width: 100%;
  border-radius: 10px;
  border: white solid 1em;
}
.floating-text {
  position: absolute;
  max-width: 60%;
  background-color: #50beffc7;
  padding: 1em;
  padding-bottom: 0.5em;
  border-radius: 5px;
}
